@media screen and (max-width: 1920px) {
    .why {
        background-image: none;
    }
        .why__container:before {
        content: "";
        display: block;
        width: 800px;
        height: 100%;
        position: absolute;
        top: 0;
        left: -387px;
        background: url('../img/why.png') no-repeat right center;
        background-size: contain;
    }
}

@media screen and (max-width: 1200px) {
    .container {
        width: 976px;
    }
    .title-1 {
        width: 538px;
    }
    .title-1:after {
        width: 500px;
        right: -513px;
    }
    .why__content {
        margin-left: 345px;
    }
    .why__container:before {
        left: -467px;
    }
    .services__list {
        flex-wrap: wrap;
    }
    .services__item {
        width: 50%;
        margin-bottom: 50px;
    }
    .manager__container:after {
        width: 640px;
        right: -78px;
    }
    .functionality__container:before {
        width: 700px;
    }
    .mobile__content {
        margin-right: 0;
    }
    .mobile__imgs {
        width: 466px;
    }
    .agent__img {
        width: 400px;
        margin-top: 180px;
    }
    .exchange__content {
        margin-right: 20px;
    }
    .marketing__img {
        width: 466px;
        margin-right: 20px;
    }
    .marketing__title:before {
        bottom: 48px;
    }
    .activity__list {
        justify-content: space-around;
    }
    .cost__list {
        flex-wrap: wrap;
    }
    .cost__item {
        margin-bottom: 30px;
    }
    .about__content {
        flex-direction: column;

    }
    .about__img {
        width: 90%;
        display: flex;
        justify-content: center;
        margin: 0 auto 40px;
    }
    .footer__container {
        justify-content: space-around;
    }
    .footer__content {
        width: 30%;
    }
    .modal {
        width: 96%;
        margin: 0 auto;
    }
    .modal1 .modal__desc {
        width: 53%;
        margin-right: 20px;
    }
    .modal2__desc,
    .modal3__desc,
    .modal5__desc,
    .modal6__desc {
        width: 63%;
        margin-right: 15px;
    }
    .modal5__text,
    .modal6__text {
        width: 100%;
    }
    .modal4__desc {
        width: 78%;
        margin-right: 15px;
        
    }
    .modal4__img {
        margin-top: 80px;
    }
}

@media screen and (max-width: 992px) {
    .container {
        width: 742px;
    }
    .offer {
        padding-top: 155px;
        padding-bottom: 480px;
    }
    .title-1 {
        width: 100%;
    }
    .offer__subtitle {
        text-align: center;
    }
    .title-1__automation,
    .title-1__busines {
        margin-left: auto;
        margin-right: auto;
    }
    .title-1:after {
        left: 50%;
        top: 155px;
        transform: translateX(-50%);
        -webkit-transform: translateX(-50%);
        -moz-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
        -o-transform: translateX(-50%);
    }
    .why__container {
        padding-bottom: 578px;
    }
    .why__container:before {
        top: 272px;
        left: -125px;
    }
    .why__content {
        margin-left: 0;
        width: 100%;
    }
    .complex__title {
        width: 100%;
    }
    .manager__container {
        padding-bottom: 490px;
    }
    .manager__container:after {
        top: 450px;
        left: 0;
    }
    .functionality__container {
        padding-bottom: 530px;
    }
    .functionality__container:before {
        top: 440px;
        left: 0;
    }
    .functionality__content {
        margin-left: 0;
    }
    .mobile__container {
        flex-direction: column;
    }
    .mobile__content,
    .exchange__content {
        margin-bottom: 40px;
    }
    .agent__container,
    .exchange__container,
    .marketing__container {
        flex-direction: column;
    }
    .agent__img,
    .marketing__img {
        order: 1;
        margin-top: 42px;
    }
    .footer__container {
        flex-direction: column;
    }
    .footer__content {
        width: 100%;
        margin-bottom: 30px;
        text-align: center;
    }
    .footer__content--middle {
        padding-left: 0;
        margin-bottom: 60px;
    }
    .footer__menu .menu__list {
        align-items: center;
    }
    .footer__content--right {
        align-items: center;
    }
    .modal__content {
        flex-direction: column;
    }
    .modal .modal__desc,
    .modal2__desc,
    .modal3__desc,
    .modal4__desc,
    .modal5__desc,
    .modal6__desc {
        width: 100%;
        margin-right: 0;
        margin-bottom: 20px;
    }
    .modal__specification {
        width: 92%;
    }
    .modal1__img,
    .modal2__img,
    .modal3__img,
    .modal4__img,
    .modal5__img,
    .modal6__img {
        width: 100%;
        margin-top: 0;
    }
    .modal1__img img,
    .modal2__img img,
    .modal3__img img,
    .modal4__img img,
    .modal5__img img,
    .modal6__img img {
        margin: 0 auto;
    }
}

@media screen and (max-width: 768px) {
    .container {
        width: 560px;
    }
    .header {
        padding-top: 50px;
        padding-bottom: 12px;
    }
    .header__container {
        flex-direction: column;
        align-items: center;
    }
    .header a {
        margin-bottom: 40px;
    }
    .menu__list {
        width: 100%;
        flex-direction: column;
        align-items: center;
        padding-top: 50px;
    }
    .menu__item {
        margin-bottom: 40px;
    }
    .why__title,
    .why__desc {
        text-align: center;
    }
    .why__container {
        padding-bottom: 543px;
    }
    .why__container:before {
        top: 290px;
        left: -257px;
    }
    .manager__container:after,
    .functionality__container:before {
        width: 640px;
        left: 50%;
        transform: translateX(-50%);
        -webkit-transform: translateX(-50%);
        -moz-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
        -o-transform: translateX(-50%);
    }
    .mobile__imgs,
    .agent__img,
    .modal__text--2  {
        width: 100%;
    }
    .exchange__img,
    .marketing__img {
        width: 100%;
    }
    .exchange__img img,
    .marketing__img img {
        margin: 0 auto;
    }
}

@media screen and (max-width: 576px) {
    .container {
        width: 300px;
    }
    .header {
        padding-top: 30px;
        padding-bottom: 0;
    }
    .header a {
        margin-bottom: 25px;
    }
    .offer {
        padding-top: 75px;
        padding-bottom: 345px;
    }
    .title-1__automation {
        width: 100%;
        font-size: 37px;
        line-height: 47px;
    }
    .title-1__busines {
        width: 80%;
        font-size: 32px;
        line-height: 46px;
    }
    .title-1:after {
        width: 327px;
        top: 27px;
    }
    .why__container {
        padding-bottom: 50px;
    }
    .why__container:before {
        display: none;
    }
    .services__item {
        width: 100%;
    }
    .title-2 {
        font-size: 27px;
    }
    .manager__content,
    .functionality__content,
    .mobile__content,
    .agent__content,
    .exchange__content,
    .marketing__content,
    .manager__text,
    .mobile__text {
        width: 100%;
        text-align: center;
    }
    .manager__container:after,
    .functionality__container:before {
        width: 100%;
    }
    .functionality__container:before {
        top: 385px;
    }
    .more {
        margin: 0 auto;
    }
    .manager__container,
    .functionality__container {
        padding-bottom: 291px;
    }
    .mobile__title {
        font-size: 25px;
    }
    .agent__title:before {
        bottom: 86px;
    }
    .exchange__container {
        padding-top: 70px;
    }
    .marketing__container {
        padding-top: 75px;
    }
    .marketing__title:before {
        bottom: 69px;
        height: 134px;
    }
    .about__img {
        display: block;
        height: auto;
    }
    .about__desc {
        width: 100%;
        height: auto;
    }
    .modal {
        padding: 55px 15px 30px;
    }
    .modal4 {
        padding-bottom: 0;
    }
    .modal5-2__text {
        width: 100%;
    }
}